# LabFolder configuration
LABFOLDER_URL=https://srvlabfwifo.srv.med.uni-muenchen.de/eln/
LABFOLDER_USERNAME=your_username
LABFOLDER_PASSWORD=

# Download configuration
DOWNLOAD_DIR=./your_download_directory
EXPORT_FORMAT=json  
# json or pdf
VERIFY_SSL=false  
# true or false, set to false to disable SSL verification

# Page nudge: number of pixels to nudge up after scrolling to an element to reveal hidden buttons (default 250)
SCROLL_NUDGE_PIXELS=120 
# For 1920*1080 screen, 120 pixels is usually enough. For screens with a different resolution, you may need to adjust this value.

# Retry configuration
MAX_RETRIES=3
RETRY_DELAY=2  
# seconds

# Logging configuration
LOG_LEVEL=INFO  
# DEBUG, INFO, WARNING, ERROR
